# Auxiliar 00 - Bibliotecas y tipos de Python para fechas y horas

## Biblioteca estándard de python

Almacenamos con formato `datetime` a partir de una cadena con formato empleando el método `strptime`. Luego, `strftime` nos devuelve al formato de cadena de caracteres.

In [1]:
from datetime import date, time, datetime, timedelta

dt0 = datetime.strptime('2026-01-01 00:00:00', '%Y-%m-%d %H:%M:%S')
dt1 = datetime.strptime('2026-01-02', '%Y-%m-%d')
print('Confirmamos el tipo de dato')
print(f'Tipo: {type(dt1)}\n')
print('Confirmamos que, por defecto, configura horas, minutos y segundos en cero')
print(f'dt1: {dt1}\n') 
print(f'Modificamos el estilo de impresión para dt0: {dt0.strftime('%Y%m%dT%H%M%S')}')

Confirmamos el tipo de dato
Tipo: <class 'datetime.datetime'>

Confirmamos que, por defecto, configura horas, minutos y segundos en cero
dt1: 2026-01-02 00:00:00

Modificamos el estilo de impresión para dt0: 20260101T000000

### Operaciones básicas con fechas y horas

Los objetos `timedelta` representan una duración, o la diferencia entre dos instancias de tipo `timedate`o `date`.

In [2]:
interval0 = dt1 - dt0
print(f'Intervalo entre dt1 y dt0 es: {interval0}')
print(f'Interval es del tipo {type(interval0)}')
print(f'Extraemos el intervalo en días: {interval0.days}')

# Definimos un intervalo

interval1 = timedelta(days=2)
print(f'dto + 2 días: {dt0 + interval1}')

Intervalo entre dt1 y dt0 es: 1 day, 0:00:00
Interval es del tipo <class 'datetime.timedelta'>
Extraemos el intervalo en días: 1
dto + 2 días: 2026-01-03 00:00:00

Muchas veces necesitamos convertir el dato `timedelta` en `float` para realizar cálculos. Podemos usar el método `.total_seconds()` o dividir por un intervalo de duración conocida.

In [3]:
duration = interval0 / timedelta(hours=1)
print(f'Longitud del intervalo en horas {duration}')
print(f'Tipo de dato para duration: {type(duration)}')

Longitud del intervalo en horas 24.0
Tipo de dato para duration: <class 'float'>

## Biblioteca Numpy

El tipo de dato se llama `datetime64` porque `datetime` ya había sido tomado por la biblioteca estándard de Python.

La forma más rápida de cargar un dato es en formato ISO 'YYYY-MM-DD HH:MM:SS', eventualmente, incluyendo solo la fecha.

Es interesante porder generar un arreglo de fechas con `np.arange()`.

In [4]:
import numpy as np
dates = np.arange(np.datetime64('2024-01-01'), np.datetime64('2024-01-07'), np.timedelta64(1, 'D'))
dates

array(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
       '2024-01-05', '2024-01-06'], dtype='datetime64[D]')

In [5]:
dates = np.arange(np.datetime64('2024-01-01'), np.datetime64('2024-01-07'), np.timedelta64(24*60*60, 's'))
dates

array(['2024-01-01T00:00:00', '2024-01-02T00:00:00',
       '2024-01-03T00:00:00', '2024-01-04T00:00:00',
       '2024-01-05T00:00:00', '2024-01-06T00:00:00'],
      dtype='datetime64[s]')

Vemos que los datos se pueden almacenar con un tipo diferente según si guardan información de días, horas, minutos, segundos, etc.

    "Datetimes are always stored with an epoch of 1970-01-01T00:00...The length of the span is the range of a 64-bit integer times the length of the date or unit."

Normalmente, se convierte a cadena de caracteres con el método `.astype('str')`. Para customizar la salida se debe pasar a `datetime` de la biblioteca estandard con el método `.item()`.

### Operaciones básicas con fechas de numpy

Generamos una lista con datos cada seis horas y buscamos convertirlo a días desde le comienzo de la lista.

In [6]:

dates = np.arange(np.datetime64('2024-01-01'), np.datetime64('2024-02-01'),np.timedelta64(6, 'h'))
dt = dates - dates[0]
#dt = dt.astype('timedelta64[D]')
dt

array([  0,   6,  12,  18,  24,  30,  36,  42,  48,  54,  60,  66,  72,
        78,  84,  90,  96, 102, 108, 114, 120, 126, 132, 138, 144, 150,
       156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228,
       234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306,
       312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384,
       390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462,
       468, 474, 480, 486, 492, 498, 504, 510, 516, 522, 528, 534, 540,
       546, 552, 558, 564, 570, 576, 582, 588, 594, 600, 606, 612, 618,
       624, 630, 636, 642, 648, 654, 660, 666, 672, 678, 684, 690, 696,
       702, 708, 714, 720, 726, 732, 738], dtype='timedelta64[h]')

In [7]:
# Aprovechamos que ya está la diferencia en horas
dt.astype('float32')/24

array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ,  1.25,  1.5 ,  1.75,  2.  ,
        2.25,  2.5 ,  2.75,  3.  ,  3.25,  3.5 ,  3.75,  4.  ,  4.25,
        4.5 ,  4.75,  5.  ,  5.25,  5.5 ,  5.75,  6.  ,  6.25,  6.5 ,
        6.75,  7.  ,  7.25,  7.5 ,  7.75,  8.  ,  8.25,  8.5 ,  8.75,
        9.  ,  9.25,  9.5 ,  9.75, 10.  , 10.25, 10.5 , 10.75, 11.  ,
       11.25, 11.5 , 11.75, 12.  , 12.25, 12.5 , 12.75, 13.  , 13.25,
       13.5 , 13.75, 14.  , 14.25, 14.5 , 14.75, 15.  , 15.25, 15.5 ,
       15.75, 16.  , 16.25, 16.5 , 16.75, 17.  , 17.25, 17.5 , 17.75,
       18.  , 18.25, 18.5 , 18.75, 19.  , 19.25, 19.5 , 19.75, 20.  ,
       20.25, 20.5 , 20.75, 21.  , 21.25, 21.5 , 21.75, 22.  , 22.25,
       22.5 , 22.75, 23.  , 23.25, 23.5 , 23.75, 24.  , 24.25, 24.5 ,
       24.75, 25.  , 25.25, 25.5 , 25.75, 26.  , 26.25, 26.5 , 26.75,
       27.  , 27.25, 27.5 , 27.75, 28.  , 28.25, 28.5 , 28.75, 29.  ,
       29.25, 29.5 , 29.75, 30.  , 30.25, 30.5 , 30.75], dtype=float32)

## Biblioteca Pandas

Pandas puede usar los tipos de datos tanto de la biblioteca estandard como de Numpy. `pd.to_datetime()` es el mecanismo típico para cargar los datos.

In [8]:
import pandas as pd

dti = pd.to_datetime(dates)
dti

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 06:00:00',
               '2024-01-01 12:00:00', '2024-01-01 18:00:00',
               '2024-01-02 00:00:00', '2024-01-02 06:00:00',
               '2024-01-02 12:00:00', '2024-01-02 18:00:00',
               '2024-01-03 00:00:00', '2024-01-03 06:00:00',
               ...
               '2024-01-29 12:00:00', '2024-01-29 18:00:00',
               '2024-01-30 00:00:00', '2024-01-30 06:00:00',
               '2024-01-30 12:00:00', '2024-01-30 18:00:00',
               '2024-01-31 00:00:00', '2024-01-31 06:00:00',
               '2024-01-31 12:00:00', '2024-01-31 18:00:00'],
              dtype='datetime64[s]', length=124, freq=None)

### Operaciones básicas con fechas en Pandas


Generamos la lista con el método `DatetimeIndex()` cada seis horas y queremos pasarlo a días desde le comienzo de la lista. Es importante para operaciones de remuestroe que `DatetimeIndex()` sea el índice del `DataFrame`.

In [9]:
x = pd.date_range(start='2014-01-01', end='2014-02-01', freq='6h')
df = pd.DataFrame(index=x, columns=['time since'])
df.head()

                    time since
2014-01-01 00:00:00        NaN
2014-01-01 06:00:00        NaN
2014-01-01 12:00:00        NaN
2014-01-01 18:00:00        NaN
2014-01-02 00:00:00        NaN

In [10]:
df.index[0]

Timestamp('2014-01-01 00:00:00')

In [11]:
df['time since'] = (df.index - df.index[0]).days
# Eventualmente completar con
df['time since'] = np.float32(df['time since'].values)


# El método `.timestamp()` nos da la fecha en segundos
df['time since'] = (df.index.map(pd.Timestamp.timestamp) - df.index[0].timestamp()) / (24*60*60)
# dividimos finalmente por 1 día

# Opción con más control
#basedate = df.index[0]
#df['time since'] = df.apply(lambda x: (x.name - basedate).to_numpy().astype('timedelta64[h]').astype('float32')/24, axis=1)

In [12]:
df.head()

                     time since
2014-01-01 00:00:00        0.00
2014-01-01 06:00:00        0.25
2014-01-01 12:00:00        0.50
2014-01-01 18:00:00        0.75
2014-01-02 00:00:00        1.00

Con `.as_freq()` podemos introducir valores intermedios. Además, `.resample()` permite agrupar y operar para obtener un valor único correspondiente a la nueva frecuencia.

In [13]:
df.asfreq(freq='3h')
df.resample('24h').sum()

            time since
2014-01-01         1.5
2014-01-02         5.5
2014-01-03         9.5
2014-01-04        13.5
2014-01-05        17.5
2014-01-06        21.5
2014-01-07        25.5
2014-01-08        29.5
2014-01-09        33.5
2014-01-10        37.5
2014-01-11        41.5
2014-01-12        45.5
2014-01-13        49.5
2014-01-14        53.5
2014-01-15        57.5
2014-01-16        61.5
2014-01-17        65.5
2014-01-18        69.5
2014-01-19        73.5
2014-01-20        77.5
2014-01-21        81.5
2014-01-22        85.5
2014-01-23        89.5
2014-01-24        93.5
2014-01-25        97.5
2014-01-26       101.5
2014-01-27       105.5
2014-01-28       109.5
2014-01-29       113.5
2014-01-30       117.5
2014-01-31       121.5
2014-02-01        31.0

Asimismo, encontramos utilidades como `.shift()` o . `.rolling()` que  reproduce ventanas móviles a las que podemos aplicar difrentes operaciones como suma

In [14]:
df.shift(-1)
df.rolling('24h').sum()

                     time since
2014-01-01 00:00:00        0.00
2014-01-01 06:00:00        0.25
2014-01-01 12:00:00        0.75
2014-01-01 18:00:00        1.50
2014-01-02 00:00:00        2.50
...                         ...
2014-01-31 00:00:00      118.50
2014-01-31 06:00:00      119.50
2014-01-31 12:00:00      120.50
2014-01-31 18:00:00      121.50
2014-02-01 00:00:00      122.50

[125 rows x 1 columns]